In [51]:
import pymysql
import pandas as pd
import pickle
from sqlalchemy import create_engine
import pymssql

<img src="../img/databases.png">

In [68]:
#connection = pymysql.connect(host = 'localhost',
#                             
#                             db = 'SMYKOV\SQLEXPRESS',
#                             #user = 'S',
#                             #password = 'your pass',
#                             #charset='utf8mb4',
#                             port = 1433,
#                             cursorclass=pymysql.cursors.DictCursor)

In [53]:
passwd = 'Ss8672!'

In [84]:
connection = pymssql.connect(host = r'SMYKOV\SQLEXPRESS',
                             user = r'NEARMEDIC\Ssmykov',
                             password = passwd,
                             database = 'DBSRV')

In [85]:
connection

In [69]:
cursor = connection.cursor()

query = 'SELECT * FROM dbo.PharmNetwork'

cursor.execute(query)

#for row in cursor:
#    print(row)

In [81]:
cursor = connection.cursor()
query = """
CREATE TABLE persons (
    id INT NOT NULL,
    name VARCHAR(100),
    salesrep VARCHAR(100),
    PRIMARY KEY(id)
)
"""
cursor.execute(query)

In [82]:
connection.commit()

In [83]:
connection.close()

In [87]:
cursor = connection.cursor()
cursor.executemany(
    "INSERT INTO persons VALUES (%d, %s, %s)",
    [(1, 'John Smith', 'John Doe'),
     (2, 'Jane Doe', 'Joe Dog'),
     (3, 'Mike T.', 'Sarah H.')])
# you must call commit() to persist your data if you don't set autocommit to True
connection.commit()

cursor.execute('SELECT * FROM persons WHERE salesrep=%s', 'John Doe')
row = cursor.fetchone()
while row:
    print("ID=%d, Name=%s" % (row[0], row[1]))
    row = cursor.fetchone()

ID=1, Name=John Smith

In [88]:
connection.close()

In [ ]:
query = """
INSERT INTO test (`email`, `password`) VALUES ("{0}","{1}")
"""
emails = ['milo_' + str(i) + '@pudel.ru'for i in range(10)]
passwords = ['very_secret_' + str(i) for i in range(10)]
for email, passw in zip(emails,passwords):
    cursor.execute(query.format(email,passw))
connection.commit()

In [ ]:
connection.commit()

In [ ]:
connection.close()

In [ ]:
with open('df.pickle', 'rb') as handler:
    df = pickle.load(handler)

In [ ]:
df.head()

In [ ]:
#dialect+driver://username:password@host:port/database
engine = create_engine('mysql+pymysql://{0}:{1}@{2}/python_course'.format(User.USER,User.PASSWORD,User.HOST))

In [ ]:
df.to_sql('analytics_data',con = engine,if_exists='append')

In [ ]:
df.info()

In [ ]:
query = """
select
*
from analytics_data
limit 2;
"""
some = pd.read_sql(query,con=engine)

In [ ]:
some

In [ ]:
df.index